html {
   box-sizing: border-box;
}

*,
*::before,
*::after {
   box-sizing: border-box;
   min-height: 0.001vw; // — Fixes Safari bug with viewport units in calc()
}

.content-box-component {
   box-sizing: content-box;
}

body {
   width: 100%;
   height: 100%;
   min-width: 320px;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   background: #fff;
   color: #000;
   font-family: 'Fira Sans', 'Helvetica', Arial, sans-serif;
   font-weight: 300;
   font-size: 12px;
   line-height: 150%;
   letter-spacing: 0.06em;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   overflow-x: hidden;

   &.no-scroll {
      overflow: hidden;
   }
}

a {
   text-decoration: none;
   color: inherit;
}

button {
   padding: 0;
   cursor: pointer;
   background: transparent;
   border: none;
   color: inherit;
}

ul, ol {
   margin: 0;
   padding: 0;
}

ul {
   list-style: none;
}

p {
   margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
}

img {
   display: block;
   max-width: 100%;
   height: auto;
}

picture {
   display: block;
}